canvas {
    border:1px solid #d3d3d3;
    background-color: #000000;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

@font-face {
    font-family: Monaco;
    src: url(./Monaco.woff);
}